<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mobile tariffs</title>
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/style.css"/>
  </head>
  <body>
    <h1>info</h1>
    <p>Some text</p>
    <br></br>
    <a href="/contacts">View contacts</a>
    <br></br>
    <a href="/tariffs">View tariffs</a>
        <br></br>
        <a href="/work">View work info</a>
    </body>
    </html>