<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mobile tariffs</title>
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/style.css"/>
  </head>
  <body>
  <h1>Send resume</h1>
  {{#vacancy}}
    <p>{{name}}</p>
    {{/vacancy}}
<br></br>
<div>
        <form method="post" action="{{#create}}/addResume{{/create}}" name="resume">
           <input type="text" name="{{#resume.firstName}}{{resume.firstName}}{{/resume.firstName}}" placeholder="Enter your firstname" />
           <input type="text" name="{{#resume.lastName}}{{resume.lastName}}{{/resume.lastName}}" placeholder="Enter your lastName" />
           <input type="text" name="{{#resume.birthDate}}{{resume.birthDate}}{{/resume.birthDate}}" placeholder="Enter your birthday" />
           <input type="text" name="{{#resume.phone}}{{resume.phone}}{{/resume.phone}}" placeholder="Enter your phone number" />
           <input type="text" name="{{#resume.email}}{{resume.email}}{{/resume.email}}" placeholder="Enter your email" />
           <input type="text" name="{{#resume.text}}{{resume.text}}{{/resume.text}}" placeholder="Enter text about yourself" />
           <button type="submit">Send</button>
        </form>
    </div>

    <br></br>
    <a href="/info">Back to info</a>
    <br></br>
    <a href="/work">Back to vacancies</a>

  </body>
  </html>