<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mobile tariffs</title>
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/style.css"/>
  </head>
  <body>
    <h1>Mobile tariffs</h1>

    <div>
        <form method="post" action="search">
            <input type="text" name="name" placeholder="Enter the name" />
            <button type="submit">Find</button>
        </form>
    </div>

    <div>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Minutes</th>
          <th>SMS</th>
          <th>Price of month</th>
          <th>Description</th>
          <th>Delete</th>
        </tr>
        {{#mobileTariffs}}
        <tr>
          <td>{{name}}</td>
          <td>{{minutes}}</td>
          <td>{{sms}}</td>
          <td>{{priceOfMonth}}</td>
          <td>{{description}}</td>
          <td><a href="/delete/{{id}}">Delete</a></td>
        </tr>
        {{/mobileTariffs}}
      </table>
    </div>

    <br></br>

    <div>
        <form method="post" action="update">
           <input type="text" name="id" placeholder="Enter id" />
           <input type="text" name="name" placeholder="Enter the name" />
           <input type="text" name="priceOfMonth" placeholder="Enter price of month" />
           <input type="text" name="minutes" placeholder="Enter amount of minutes" />
           <input type="text" name="sms" placeholder="Enter amount of sms" />
           <input type="text" name="description" placeholder="Enter description" />
           <button type="submit">Edit</button>
        </form>
    </div>

    <br></br>

    <div>
        <form method="post" action="{{#create}}/create{{/create}}" name = "mobileTariff">
            <input type="text" name="mobileTariff.name" placeholder="Enter the name" />
            <input type="text" name="mobileTariff.priceOfMonth" placeholder="Enter price of month" />
            <input type="text" name="mobileTariff.minutes" placeholder="Enter amount of minutes" />
            <input type="text" name="mobileTariff.sms" placeholder="Enter amount of sms" />
            <input type="text" name="mobileTariff.description" placeholder="Enter description" />
            <button type="submit">Create</button>
        </form>
    </div>

<br></br>

<a href="/info">info</a>
  </body>

</html>