<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mobile tariffs</title>
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/style.css"/>
  </head>
  <body>
    <h1>Vacancies</h1>
    <div>
    {{#vacancies}}
    <a href="/vacancy/{{id}}">{{name}}</a>
    <br></br>
    {{/vacancies}}
    </div>

<br></br>
    <a href="/tariffs">View tariffs</a>
    <br></br>
    <a href="/info">Back to info</a>

  </body>
  </html>